[2015-07-16 23:46] bdeanindy opened #1 "Complete the documentation"
Need to update the readme.md file to have complete documentation for all existing TODO items.

Add documentation which is Java specific for:
- [x] [License](https://github.com/SparkPost/node-sparkpost/blob/master/LICENSE.txt)
- [x] [Contribution guidelines](https://github.com/SparkPost/node-sparkpost/blob/master/CONTRIBUTING.md)
- [x] [Adding issue guidelines](https://github.com/SparkPost/node-spa

[2015-07-16 23:54] bdeanindy opened #2 "CI Integration"
We need to include continuous integration testing using [Travis CI](https://travis-ci.org/).

- [ ] Integrate with Travis CI
- [ ] Add build status button on README.md file similar to the status on [this page](https://github.com/SparkPost/node-sparkpost) above the logo in the README.md

[2015-07-16 23:55] bdeanindy opened #3 "Add SparkPost Logo"
Need to add the SparkPost logo (most recent and appropriate version) to the main README.md file

[2015-07-16 23:57] bdeanindy opened #4 "Create Change Log markdown file"
Need a single place for developers to view the history of changes by release number.

[2015-08-17 19:57] bdeanindy opened #5 "Include Sparkpost LICENSE"
Need to include the LICENSE that has been approved by @SparkPost/legal team (we should be able to use the one from the NodeSDK.

[2015-08-17 19:58] #5 closed, assigned to nobody

[2015-08-18 18:20] colestrode opened #6 "Refactor to use packages"
Packages are a more common convention than using class names to namespace, we should refactor the SDK to make it follow Java conventions

Some recommendations:
- Change the top level package to `com.sparkpost.sdk`
- Remove the SP prefix from class names since we already scoped within a sparkpost package
- Create a `dto` package for DTO's. Remove DTO from class names.
- Create a `resource` package

[2015-09-04 02:03] yepher opened #9 "Unit test should not hit SparkPost.com"
Each time this project is built with `mvn clean install` and the unit tests runs and it clutters up the users SparkPost account. The unit tests should be unit tests and not integration tests.

There should be integration level samples that hit the live site and perform specific tasks.

Here is an example of the SparkPost account after just a few builds:

![image](https://cloud.githubusercontent.co

[2015-09-10 18:59] colestrode opened #11 "Update webhooks for OAuth and Basic Auth"
We recently added OAuth and Basic Auth support to webhooks and deprecated the `auth_token` field. We should update the SDK to add support for these new auth methods. See https://www.sparkpost.com/api#/reference/webhooks

[2015-09-11 13:44] yepher opened #12 "Create Parity Examples"
Create Examples of lib usage.

A good starting point will be parity with [python-sparkpost](https://github.com/SparkPost/python-sparkpost/tree/master/examples)

[2015-10-02 20:39] #9 closed, assigned to nobody

[2015-10-02 20:42] #3 closed, assigned to aydrian

[2015-10-02 20:54] #12 closed, assigned to nobody

[2015-10-02 20:55] #6 closed, assigned to nobody

[2015-10-13 17:09] #1 closed, assigned to yepher

[2015-11-02 02:30] richleland commented on #2
Added badge to readme and travis config. Right now the build fails when running on openjdk 6. I need to know which versions we're going to test and update the travis config accordingly.

Default is:

[code]

All available versions per travis are OpenJDK 6, OpenJDK 7, Oracle JDK 7, and Oracle JDK 8.

[2015-11-02 02:51] yepher commented on #2
The project requires Java 1.7 or higher so from the choices you listed it would need to be oraclejdk7/

[2015-11-02 17:03] richleland opened #18 "Add coveralls for code coverage"
We use coveralls.io for our other client libraries. Would be nice to add this for the java lib as well. Example: https://coveralls.io/github/SparkPost/php-sparkpost

[2015-11-03 16:43] #2 closed

[2015-12-11 22:06] sks opened #19 "Can't locate com.sparkpost.client-server-protocol-lib in mvnrepository"
Hi Team,

Where excatly is the dependency hosted,

[code]

Could not find the jar reported in http://mvnrepository.com/artifact/com.sparkpost

[2015-12-11 22:06] sks commented on #19
Could not find https://repo.maven.apache.org/maven2/com/sparkpost/client-server-protocol-lib

[2015-12-11 22:15] yepher commented on #19
Have a look here

https://repo1.maven.org/maven2/com/sparkpost/sparkpost-lib/0.8/

[2015-12-11 23:31] sks commented on #19
Thanks

[2015-12-11 23:31] #19 closed

[2016-02-26 14:04] mihaita-tinta commented on #19
The artifactId was changed:
<dependency>
		 <groupId>com.sparkpost</groupId>
		  <artifactId>sparkpost-lib</artifactId>
		  <version>0.10</version>
</dependency>

[2016-03-02 08:29] witeX opened #21 "Wrong maven dependency"
Hi,

In readme defined lib
<dependency>
    <groupId>com.sparkpost</groupId>
    <artifactId>client-server-protocol-lib</artifactId>
    <version>0.10</version>
</dependency>
need to define

<dependency>
            <groupId>com.sparkpost</groupId>
            <artifactId>sparkpost-lib</artifactId>
            <version>0.10</version>
        </dependency>

[2016-03-02 13:22] yepher commented on #21
Thank your for creating this issue. I will fix this.

[2016-03-02 13:25] yepher commented on #21
Fixed in this commit

https://github.com/SparkPost/java-sparkpost/commit/e582aacb1f15d50cfbb20bba5b36ee3b179e5368

[2016-03-02 13:25] #21 closed

[2016-03-18 15:48] jygoubet opened #24 "Substitution data as string"
Hi,

It looks like substitution data can only be strings key/value pairs but the value should be an array too.

Am I missing something to do so ?

Thanks

[2016-03-18 16:04] yepher commented on #24
You are correct. The java library currently limits substitution data to a single string. I recently started thinking through how to expose the more complex substitution schemes that SparkPost supports.

I would welcome a Pull Requests that addresses this if you are up for it. Otherwise I am going to work on this in the near future.

[2016-03-18 16:30] jygoubet commented on #24
Ok thanks I'll have a look one of these days if we decide to use sparkpost and it's still an issue

[2016-03-24 03:23] carmudgeon commented on #24
this means i wont be able to do something like this?

` "substitution_data": {
        "subject" : "Inconsistencias",
        "processingdate": "2016-03-22 14:27:02",
        "inconsistencylist": [
            {
                "guide": "234997175",
                "lastchangeupdatestatedate": "2016-02-23 19:00:59",
                "filename": "P_20160322",
                "amount": 116800

[2016-03-24 11:52] yepher commented on #24
@carmudgeon

Yes, that is correct. I am working on a new release that will enable your ability to do that as well as inline css.

[2016-03-24 12:46] carmudgeon commented on #24
Hi @yepher i have to ask this, do you have an estimated date of release :)

[2016-03-24 16:51] yepher commented on #24
I @carmudgeon I'm trying to have it ready by end of day tomorrow.

[2016-03-24 23:01] carmudgeon commented on #24
Awesome!!

[2016-03-25 22:27] yepher commented on #24
This is now available in the Maven repo.

[2016-03-25 22:27] #24 closed

[2016-03-28 16:43] carmudgeon opened #26 "Add attachments and inline_images to the library"
We need to be able to send attachments and inline_images through the java library

[2016-03-28 16:49] yepher commented on #26
I will add attachments and inline_images to transmission API.

[2016-03-30 19:42] ggreenblat opened #27 "Examples don't work 400 and 422 returned"
Hi,

 Neither the basic not the template example from the README.md works. I get a 400 error on the basic example and 422 on the template example. There is no detail provided as to why I get the errors. A simple curl sample works though. I have setup an API key.

I also added the template ID to the example for templates in the README.md but still get a 422

{
  "recipients": [
    {
      "address

[2016-03-30 20:01] yepher commented on #27
You should use either `template_id` or `email_rfc822` and not both.

Also does your template and email_rfc822 have `from: {from}` in them. This example is replacing the from address with substitution data. I think this part is probably confusion in the example so I will update that.

If you want help debugging this real-time you can find me in our Slack channel here: http://slack.sparkpost.com

[2016-03-30 20:19] yepher opened #28 "Log server JSON response when error occurs"
When an error occurs the library shows the request JSON but the response JSON is not shown.

It will make it much easier to debug if error is shown.

[2016-03-30 20:22] yepher commented on #27
Created Issue #28 to improve logging when an error does occur

[2016-03-30 20:23] yepher commented on #27
I will improve README but changing example to use text/html instead of template.

[code]

[2016-03-30 22:00] yepher commented on #27
@ggreenblat,

I believe I've addressed most of what you are seeing. I am not quite sure why you are having an issue with the basic example. The changes in the upcoming v0.14 library will show you more error information that will help debug that more.

My hunch is your `from` domain is not the one you verified in SparkPost. Is the above  the exact JSON from request or did you change the from addres

[2016-03-30 22:03] #4 closed, assigned to nobody

[2016-03-30 23:02] yepher commented on #26
This is now available in the Maven repo in version v0.14

[2016-03-30 23:02] #26 closed

[2016-03-30 23:03] yepher commented on #28
This has been fixed in version v0.14

[2016-03-30 23:03] #28 closed

[2016-03-31 05:46] ggreenblat commented on #27
Thank you for the great support and feedback.

When I removed the  email rfc and used just the template id it worked.

It was not clear to me what email_rfc was. I assumed that it was a template cause of the substitution data.

Still not sure why I get a 400 on the basic request but there must be something small I a missing. I am using the correct domain and the example I posted I substituted the

[2016-03-31 05:46] #27 closed

[2016-03-31 09:46] yepher commented on #27
@ggreenblat

Can you try the new version of the library I released yesterday? It is 0.14.

With the new library you will get the error JSON from the server which is usually pretty good about saying why it sent back the error.

I will do some testing of that example today and see if I can figure out a way to reproduce the problem.

[2016-03-31 17:55] carmudgeon opened #30 "Create a template retrieve response concrete type"
We need to retrieve a template object in order to be able to send attachments with the transmission object.

[2016-03-31 17:57] yepher commented on #30
I will add this to version 0.15 and it will be backwards compatible

[2016-03-31 18:49] ggreenblat commented on #27
The additional error messages really help. The basic send now works. The reason it didn't was because of whitespace around the send to address. The error messages made that clear immediately.

[2016-03-31 18:57] yepher commented on #27
Great, glad to hear it helped. Let me know if you have any other problems. You can reach out to me on Slack if you need to.

You can join the community here: http://slack.sparkpost.com

[2016-04-01 13:18] kalnik-a-a opened #31 "Add 'sandbox' and 'ip_pool' parameters to transmission options"
Add 'sandbox' and 'ip_pool' parameters to transmission options

[2016-04-11 07:10] kalnik-a-a commented on #31
fixed in v0.15

[2016-04-11 07:10] #31 closed

[2016-04-11 14:49] yepher commented on #30
This is released.

[2016-04-11 14:49] #30 closed

[2016-04-11 14:49] yepher commented on #11
This won't be implemented unless someone comes up with a good reason to do it.

[2016-04-11 14:49] #11 closed

[2016-04-11 14:57] yepher opened #38 "Sample that converts Mandrills Blacklist to SparkPost suppression list"
As use migrate from Mandrill to SparkPost they will find it to their benefit to convert their Mandrill Blacklist to SparkPosts suppression list otherwise they will start seeing deliverability issues that they did not see at Mandrill.

TODO: add a sample that imports Mandrill's blacklist into SparkPost suppression list.

[2016-04-14 09:27] mkutlev opened #39 "Send email to predefined recipient list - TransmissionWithRecipientList can not be send"
I want to send transmission using TransmissionWithRecipientList.
The problem is that ResourceTransmissions.create method accepts only TransmissionWithRecipientArray.
Could you update the method to use TransmissionBase as type of the transmission?

[2016-04-14 12:44] yepher commented on #39
@mkutlev Yes I will fix that and will be available in v0.16

[2016-04-14 19:58] kalnik-a-a commented on #39
It is not a good decision. If parameter type will be changed to TransmissionBase all fields in child Classes will become invisible and method will not work properly.

[2016-04-14 20:04] yepher commented on #39
Thanks @kalnik-a-a

[2016-04-14 23:04] yepher commented on #38
This completed and merged into Master.

[2016-04-14 23:04] #38 closed

[2016-04-25 21:15] carmudgeon opened #44 "Possible NPE"
i got this today:

`java.lang.Thread.run(Thread.java:745) Caused by: java.lang.NullPointerException at com.sparkpost.transport.RestConnection.receiveResponse(RestConnection.java:226) at com.sparkpost.transport.RestConnection.doHttpMethod(RestConnection.java:279) at com.sparkpost.transport.RestConnection.post(RestConnection.java:322) at com.sparkpost.resources.ResourceTransmissions.create(ResourceT

[2016-04-25 21:20] yepher commented on #44
Do you know how to reproduce that?

Are you seeing it often or has it only happened once?

[2016-04-25 21:22] carmudgeon commented on #44
At least 4 times, and no, i don't have the way to reproduce it.

[2016-04-25 21:25] yepher commented on #44
Ok, thanks for reporting it. I will look into it.

[2016-04-26 13:11] #39 closed

[2016-04-28 16:30] yepher commented on #44
@carmudgeon,

Are you still seeing this NPE? I think I've narrowed down the source of this error some but want to see if you are still seeing the problem.

[2016-04-28 16:42] carmudgeon commented on #44
i occurred twice yesterday 27/04/2016 same stacktrace, i managed to catch it, but the response will be null so i will not be able to tell if the email was sent or not.

[2016-04-28 19:07] yepher commented on #44
Thanks for the update. I'm trying to understand why this happen. The code change will be to throw a SparkPost exception like it is trying to do anyway but did not just want to add the catch exception quite yet until I can understand it better. I am expecting this is some sort of connection error or the socket is getting dropped for some reason.

I will get a fix out soon.

[2016-04-28 20:19] kalnik-a-a commented on #44
@yepher

I believe this error can be reproduced in various ways.
Simple way to reproduce:
[code]
Reason: server returns empty response. In my case it was response with 400 code and empty content( conn.getContentLength() == 0).

Btw, ResourceWebhooks.update must use PUT instead of POST =)

[2016-04-28 22:41] kalnik-a-a commented on #44
One more way: delete existing webhook. Response with OK status code and empty body. NPE was thrown.

[2016-04-28 23:10] carmudgeon commented on #44
In my case, it was during a transmission

[2016-04-29 13:57] yepher commented on #44
Thank you trying to get to this today.

[2016-05-02 20:39] yepher commented on #44
I've put a fix in a branch

[2016-05-03 15:28] yepher commented on #38
See https://support.sparkpost.com/customer/en/portal/articles/2401934-importing-suppression-list-from-mandrill-?b_id=7411

[2016-05-04 23:34] carmudgeon commented on #44
Do you know when is this going to be merged?

[2016-05-05 00:40] yepher commented on #44
It is merged. Just need to finish testing and put in Maven Repo. I will release this week.

[2016-05-06 12:18] yepher opened #48 "Resource stream handling is duplicated"
In RestConnection.java there is some duplication of HTTP response stream. This should be refactored out into it's own method.

Here is one suggestion from @kalnik-a-a:

What about separate method for reading Response from InputStream?
Now it is duplicated in 3 places(2 in receiveSuccessResponse and 1 in receiveErrorResponse).

Something like this:

[code]

[2016-05-06 16:11] yepher commented on #44
Fixed in v0.16.1

[2016-05-06 16:11] #44 closed

[2016-09-27 14:20] cen1 opened #50 "Add subaccount resource"
Unless I am missing something there seems to be no support for managing subaccounts. Would be nice to add so we don't have to write seperate clients.

[2016-09-27 16:48] yepher commented on #50
Sub accounts should work with this library. Can you give me an example so I can make an example for you?

[2016-09-27 17:06] cen1 commented on #50
Let's say how to create a new subaccount.

[2016-09-27 18:52] yepher commented on #50
Oh, I see what you mean now. Yes, that does need added. I would be happy to merge a pull request if you are interested in working on it.

Otherwise I will work on it in a week or so.

[2016-09-28 08:08] cen1 commented on #50
I might do a pull request but I make no promises. If there is none in a week go ahead with the implementation. Thanks.

[2016-10-05 13:54] cen1 commented on #50
Further, is it possible to add X-MSYS-SUBACCOUNT header in any way? Looking at the RestConnection implementation there seems to be no way to manipulate HttpURLConnection so my guess is a no.

If you can give me that example for calling the API as a subaccount I'd appreciate it.

[2016-10-05 14:24] yepher commented on #50
I thought that was on a branch but I don't see it. I will add that ability.

[2016-11-01 16:35] yepher opened #51 "Add ability to delete a scheduled transmission"
Add `delete` to the `ResourceTransmissions` class.

[2016-11-07 22:06] pinaf opened #52 "Json syntax error parsing "from" field from retrieved template"
Using `sparkpost-lib 0.16.1`.

When using `ResourceTemplates.retrieve` to retrieve a template, the following `JsonSyntaxException` occurs when parsing the `from` field.

[code]

It seems like the java code expects a JSON object but the API returns a simple string.
Here is what the from field looks like when manually hitting the API at `https://api.sparkpost.com/api/v1/templates/mytemplate` with po

[2016-11-07 22:45] yepher commented on #52
Thank you for reporting this. We will fix this in the next release.

[2016-11-08 15:07] yepher commented on #52
@pinaf

I ran [RetrieveAllTemplatesSample](https://github.com/SparkPost/java-sparkpost/blob/master/apps/sparkpost-samples-app/src/main/java/com/sparkpost/samples/ListAllTemplatesSample.java) and it worked. But looking at the `From` [spec](https://developers.sparkpost.com/api/templates.html#header-content-attributes) it says `Address “from” : "deals@company.com" or JSON object composed of the “name

[2016-11-08 16:12] pinaf commented on #52
@yepher so it seems that this might be an issue with the template being "old". Some of them return
[code]
But others return
[code]

[2016-11-08 16:14] pinaf commented on #52
@yepher interesting. If I take one of the templates that return `from`  as a string and click save & publish without changing anything, upon a subsequent API call I get a json for `from`

[2016-11-08 16:24] pinaf commented on #52
@yepher I just confirmed that solves my problem (just re-publishing the templates). It's up to you whether you want the smarter parser or not :)

[2016-11-08 17:00] yepher commented on #52
@pinaf, Awesome glad this is not holding you up. I think the code should handle the full spec so yes I think I will add it but I will make it a little lower priority now.

[2017-01-16 11:17] cen1 opened #53 "Exceptions should be easier to parse"
For example, this gets thrown as SparkPostErrorServerResponseException:
`
SEVERE: Error reading server response: { "errors": [ { "message": "Message generation rejected", "description": "recipient address suppressed due to customer policy", "code": "1902" } ], "results": { "total_rejected_recipients": 0, "total_accepted_recipients": 1, "id": "84509310299791535" } }(Bad Request)
`
..which is not re

[2017-01-17 16:54] yepher commented on #53
This is a great idea. There is already a custom exception so it would not be hard to parse that out at the transport layer and set in member variables.

I would be glad to review a pull request if you are interested in adding this functionality.

[2017-02-22 10:56] ewandennis opened #54 "Automatically set options.sandbox on sparkpostbox.com `Client.sendMessage()` calls"
The transmission endpoint now respects `options.sandbox` when sending from `sparkpostbox.com` so our "easy button" API clients should set the field appropriately when they detect sandbox domain use. The highest profile use of `Client.sendMessage()` is [here](https://developers.sparkpost.com/).

[2017-03-01 15:12] #54 closed

[2017-03-01 16:43] yepher commented on #53
Adding an array of parsed error responses from server to be more POJO friendly. Here is an example usage:

[2017-03-01 17:48] yepher commented on #53
Added several samples that demonstrates the usage of the new field:
    https://github.com/SparkPost/java-sparkpost/blob/feature/better_exceptions_issue53/apps/sparkpost-samples-app/src/main/java/com/sparkpost/error/samples/SendInvalidFromAddress.java#L86

@cen1 is this what you were thinking?

[2017-03-02 23:22] olegkon opened #57 "Resource could not be found error"
Hi,

Trying to run the sample with sparky.sendMessage()
and getting the following error:

`{
  "errors": [
    {
      "message": "Resource could not be found"
    }
  ]
}`

Looks like the code is adding an extra slash (before transmissions) into the url calling
https://api.sparkpost.com/api/v1//transmissions?num_rcpt_errors=0

We are using apache httpclient-4.5.3.jar  (on Win 10).

Can anyone ple

[2017-03-03 00:54] cen1 commented on #53
@yepher thanks, will check it out in the following days and give feedback.

[2017-03-03 01:52] yepher commented on #57
Are you using Maven or a jar directly in your project?

[2017-03-03 02:04] yepher commented on #57
@olegkon I just ran this sample after setting my API key, proper from address and a proper too address and it worked fine:
     https://github.com/SparkPost/java-sparkpost/blob/master/apps/sparkpost-samples-app/src/main/java/com/sparkpost/SparkPost.java

Can you provide a little more details for how you are using the library. Version and if you are using Maven will be helpful too.

[2017-03-03 14:07] yepher commented on #57
@olegkon, I've spent time looking through the library code for how we might get an extra `/` and I am not finding any suspicious code yet. In fact the code guards against that case.

Early in the libraries history there was a case where there was a duplicate `/` but that was fixed long ago. I did a quick search but did not find the exact commit where that was fixed. But here is the code that is me

[2017-03-03 14:52] dangerusslee commented on #57
@yepher If that code is supposed to do what it says it in the comment, then its flipped.  That code is making sure that there is a slash at the end of the endpoint.

So when there's a leading slash in the path as well, it combines to form //

I believe createConnectionObject should have a guard to make sure there's no // or you need to make sure that the path doesn't have a leading slash.

I belie

[2017-03-03 15:07] yepher commented on #57
Sorry. I mis-typed the comment when responding to the issue. I meant to say it only adds the `/` if it not already there.

I will test with that httpclient version and report back shortly.

[2017-03-03 15:15] olegkon commented on #57
Guys,   it adds another part to it (path?) with transmissions, which has another '/' (/transmissions?num_rcpt_errors=0)    Sorry, don't have debugger now, can't recall exactly, saw it yesterday.

I don't have any config file.  Should I use it?   Please give more details, I am totally new to SparkPost.

[2017-03-03 15:24] dangerusslee commented on #57
@yepher It's also possible that you have a config file and it gets the defaultApiEndpoint from there which doesn't have a trailing slash.

[2017-03-03 15:28] yepher commented on #57
hmm, EndPoint unit tests fail with `httpclient-4.5.3`.

Will do more investigation:

[code]

[2017-03-03 15:36] yepher commented on #57
I am working a new release. I will fix this and get it into the next release. Thank you @dangerusslee and @olegkon.

I am going to make sure it works with `httpclient-4.5.3` and `httpclient-4.5` but I will also bump the pom dependency up the latest version of HTTP Client.

[2017-03-03 15:44] yepher commented on #57
Back testing HTTP CLIENT 4.5.x

* 4.5 - OK
* 4.5.1 - OK
* 4.5.2 - OK
* 4.5.3 - Broken

[2017-03-03 15:52] yepher commented on #57
This is the HTTP Client change that break backward behavior:
      https://github.com/apache/httpclient/commit/0554271750599756d4946c0d7ba43d04b1a7b220

[2017-03-03 16:30] yepher commented on #57
I was getting ready to send an email to `olegk at apache.org` to verify the new HTTP client URIBuilder is performing the expected behavior when I noticed the similarity in names:

--------------------
[ChangeLog](https://archive.apache.org/dist/httpcomponents/httpclient/RELEASE_NOTES-4.5.x.txt):
* [HTTPCLIENT-1803] Improved handling of malformed paths by URIBuilder.
  Contributed by Oleg Kalnichev

[2017-03-03 16:42] olegkon commented on #57
No, I am olegkon@yahoo.com    Oleg is a popular name   ;-)

[2017-03-03 17:02] yepher commented on #57
From Oleg at Apache:

[code]

So I will add code to handle <4.5.3 and >=4.5.3 HTTP Client. Eventually will remove support for HTTPClient 4.5.3.

[2017-03-03 22:00] olegkon commented on #57
When do you plan to release it, so we can use that JAR?

[2017-03-04 00:38] yepher commented on #57
@olegkon I am working on unit tests for each of the resource classes so I can do regression testing easier. My plan it to release a new version mid next week. I hope to be done coding  sometime tomorrow. But I need some time to run the integration tests for both old version of HTTP client and new version.

I have five more classes to go. Three of them are pretty easy to test but one has a lot of m

[2017-03-04 18:19] yepher commented on #57
@olegkon Incase you get a chance to test here is a pre-release jar with the changes. I would be interested to hear any feedback you may have.

[sparkpost-lib-0.17-pre.zip](https://github.com/SparkPost/java-sparkpost/files/818823/sparkpost-lib-0.17-pre.zip)

[2017-03-06 16:39] olegkon commented on #57
@yepher   I tested your fix with httpclient 4.5.3, and it worked, all except that
when I used both   text  and  html parameter of  sparky.sendMessage(from, to, subject, text, html)  ,
I did not get any text inside the email body, only html part.
Is it how it is supposed to work?   if so, what it text parameter for?

Here is email source:
<html>
<head>
<meta http-equiv="Content-Type" content="text/

[2017-03-07 00:55] yepher commented on #57
You should get the text part and the HTML part. I just tried it and it worked for me.

Can you post the JSON that is sent?

[2017-03-07 12:04] yepher commented on #57
@olegkon If you are still having problems with plain text not getting sent with HTML can you please create a separate issue. Also if you can provide the JSON that gets sent when that happens that would help a lot.

Incase you did not know you can get the JSON by setting this logger `com.sparkpost.transport.RestConnection` to `DEBUG`.

[2017-03-08 14:11] yepher commented on #57
Fixed in Version 0.17.

[2017-03-08 14:11] #57 closed

[2017-03-16 14:42] rajumsys opened #60 "Avoid having duplicate slashes"
According to ESCSP-1390, java-sparkpost sometimes request to endpoint with duplicate slashes. While it used to work earlier and broken now which we're fixing it may not work in future (when we move to ALB routing).

```/api/v1//transmissions```

[2017-03-16 14:58] yepher commented on #60
Did you find a case where there is a multiple slashes. There are unit tests for this condition and they are all passing.

Can you share the file and line number where you found this issue or a test case that reproduces it?

[2017-03-16 15:03] yepher commented on #60
@rajumsys I think what your are referring to was fixed in https://github.com/SparkPost/java-sparkpost/issues/57

Let me know if there is another problem.

[2017-03-16 16:53] #53 closed

[2017-03-17 14:02] yepher commented on #60
This was fixed in issue #57

[2017-03-17 14:02] #60 closed

[2017-03-22 22:24] cen1 commented on #53
Sorry for late response. Just checked out the master and this is exactly what I wanted. Thank you.

[2017-04-06 22:41] yepher opened #61 "Add Cursor support to suppression list search"
In order to retrieve large suppression lists search function should use cursors so the end user can page through all suppression results.

[2017-04-08 23:57] cloud-tribal commented on #54
I am getting this error "Sending domain sandbox option mismatch", yet I've configured my SPARKPOST_SANDBOX_DOMAIN and SPARKPOST_SMTP_HOST as per the docs.

What is the cause of this problem ?

[2017-04-10 14:14] yepher commented on #54
@cloud-tribal I am a little confused by your comment. This library uses the SparkPost REST interface and not SMTP.

Can you tell me a little more about what your are doing? Are you integrating with Maven or are you using this library directly?

[2017-04-21 09:58] jonturgeon opened #62 "Provide Beans for JSON Response from Relay Webhooks"
Would be nice to have a set of POJO's that could be used with GSON for decoding the JSON Relay Webhook response.

[2017-04-21 14:28] yepher commented on #62
It is a good idea and I am happy to create the POJO's

I assume the user of the POJO's would have the responsibility to run their own HTTP server and instantiate the proper Event class for deserialization?

[2017-04-21 16:26] yepher commented on #62
I have a couple of generators that maybe easily adapted to be able to create the POJO's for the Webhook events. They are:

* [Webhook Documentor](https://github.com/SparkPost/momentum_sample_policy/tree/master/webhook-document-generator)
* an ObjC generator that is not checked in yet

It might be pretty easy to adapt those to generate at least the initial Webhook POJOs

[2017-04-21 16:26] jonturgeon commented on #62
Hi Chris, yes to both your questions. My webapp both needs to send and receive emails. The email content is sort of structured data (it is a position reporting system for sailing yachts around the world). I use GSON for other JSON data requests and since you guys already have a Java lib I thought it might be nice to have the POJO's to make getting the relay webhook data in a Java friendly manner.

[2017-04-21 16:29] jonturgeon commented on #62
Hi again, I used this site to get my initial POJO's http://pojo.sodhanalibrary.com/Convert

I fed it the sample response from the relay webhook documentation. Just thought it might be nicer to have a set of POJO's that came from SparkPost to make sure we are not all missing something.

________________________________
From: Chris Wilson <notifications@github.com>
Sent: Friday, April 21, 2017 12:26

[2017-04-21 16:34] yepher commented on #62
yes, I totally agree with you. I will be nice to have those directly in the SparkPost Library. My comments above are really more about can I do something to help me generate code on other projects I need to do at the same time as I get this implemented in the Java library.

[2017-04-21 16:48] yepher commented on #62
I should also note I gladly welcome Pull Requests if this is something you want to take on.

[2017-04-21 16:54] jonturgeon commented on #62
Hi again, although I have been whacking away at Java for years, I am completely new to SparkPost and I would not want to put something out with that little bit of knowledge. If you want I can send you my beans so far, they seem to be working for my single test case but they are by no means finished. I also do this development as a bit of a hobby, I left my corporate job 6 years ago to sail around

[2017-04-21 17:08] yepher commented on #62
I guess I had better meet you on your Yacht so we can pair program it then ;)

Kidding aside, I would be glad to look at what you have. I will work on adding Webhook events as a first class citizen to the library as you suggested.

[2017-04-21 17:15] jonturgeon commented on #62
Attached are my work in progress beans and below is the code I use to populate them

        //Stripes puts the JSON response in the parameter map
        String relayJSON = this.getContext().getRequest().getParameterMap().entrySet().iterator().next().toString();

        //The JSON is a bit wonky, need to be "lenient"
        JsonReader reader = new JsonReader(new StringReader(relayJSON));

[2017-04-21 17:20] #61 closed

[2017-04-21 21:57] yepher commented on #62
I've created a branch with the initial pass at creating webhook events [here](https://github.com/SparkPost/java-sparkpost/tree/feature/issue_62_webhook_events/libs/sparkpost-lib/src/main/java/com/sparkpost/model/webhook/event)

Still need to test them to see if they work.

[2017-05-17 05:38] krishnanrao opened #64 "How to send mails with attachments of images"
I am trying to send email with image attachment how can i achieve it in sparkpost

[2017-05-17 11:01] yepher commented on #64
To send attachments through SparkPost you use can either compose and send an RFC822 message with attachments encoded. Or you can use the attachment API shown [here](https://developers.sparkpost.com/api/transmissions.html#header-attachment-attributes).

Here are some examples from the Java library sample code:

Here is an example [SendEmailWithFilesSample.java](https://github.com/SparkPost/java-spa

[2017-05-17 11:01] #64 closed

[2017-05-23 20:18] KingDino3 opened #65 "No timeouts in the RestConnection"
using sparkpost-lib 0.17, it appears to have no timeout value set for either a the connect timeout nor the read timeout.

[2017-05-24 17:01] yepher opened #66 "Make HTTP connection more configurable"
There are some use cases where users would like to not call `HTTPUrlConnection.disconnect()` after a request to the server.

Enable user of the SparkPost Library to be able to configure this behavior.

[2017-05-24 17:02] yepher commented on #65
I will make this configurable as part of issue #66

[2017-05-31 21:40] yepher commented on #66
Fixed in V0.18

https://github.com/SparkPost/java-sparkpost/releases/tag/0.18

[2017-05-31 21:40] #66 closed

[2017-05-31 21:40] yepher commented on #65
Fixed in v0.18

[2017-05-31 21:40] #65 closed

[2017-06-16 13:25] polando opened #68 "Changing Email for each recepint"
Does `substitutionData` changes the data for all the recipients or is there a way to substitute the data according to each recipient.
For example, if I had a `country field` in my Email and I wanted to change it according to each recipient's country, something like this:

`hello, Mr.X from country_filed`

Could I write something like below to substitute that field according to each recipient:
[cod

[2017-06-16 15:20] yepher commented on #68
You can do it either way.

If you set the substitution data on [RecipientAttributes](https://github.com/SparkPost/java-sparkpost/blsubstitutionDatarkpost-lib/src/main/java/com/sparkpost/model/RecipientAttributes.java) the substitution is per recipient.  I think [SendEmailWithSubstitutionSample.java](https://github.com/SparkPost/java-sparkpost/blob/master/apps/sparkpost-samples-app/src/main/java/co

[2017-06-16 15:20] #68 closed

[2017-06-20 06:04] geniushkg opened #69 "Android Gradle Release"
Hi team,

I used [`Gradle please`](http://gradleplease.appspot.com/#sparkpost) but that's giving me concurrent exception error while building also , depency is ignored 'org.apache:commons' httpclient

Please provide clear instruction on how to use sparkpost from android.

Thanks and Regards,

[2017-06-20 14:57] yepher commented on #69
It has been several years since I worked on Android. As I recall Android provides it own customized version of `'org.apache:commons httpclient `. I've not tested on Android but I believe it should work fine.

As for integration with Gradle, I expected it to work with the provided POM. Can you tell me a little more about the concurrent error you are seeing?

[2017-06-21 05:09] geniushkg commented on #69
I managed by making rest request using curl example , It would be great if you build an sdk on top of okhttp. I will try if possible will provide a wrapper class on  top of rest api to send emails for android.

[2017-06-21 12:58] yepher commented on #69
Sure, if you would like to update the library to use okHTTP just submit a pull request.

All the HTTP calls are in com.sparkpost.transport.RestConnection and that implements an Interface. So you could make a second implementation or retrofit the existing class. I expect most of the changes would be in the doHTTP method and the challenging bit (not that challenging) would be the non 2xx error handl

[2017-06-21 13:01] yepher commented on #69
Also for your reference refer to https://github.com/SparkPost/java-sparkpost/blob/master/CONTRIBUTING.md for how to build project and some othe helpful information.

[2017-08-03 19:07] yepher opened #70 "Add Message Event API"
Add support for [Message Events API](https://developers.sparkpost.com/api/message-events.html)

The Message Events API allows searching for recent events, and supports various types of result filtering. Available events include message status - injection, delivery, bounce - as well as recipient engagement - clicks and opens. Message Events is an on-demand (pull) interface to the same underlying ev

[2017-08-08 20:55] yepher commented on #70
First draft of API is now available here: cc0ffdc7e0528f1bf3ac04bc425908e60b9a5680

Still need to test and create more unit tests.

[2017-08-10 17:42] yepher commented on #70
This was added in 0f84eab5e06bb24f26e0275376a4a92cc3d7b61c

Released as library version 0.19

[2017-08-10 17:42] #70 closed

[2017-10-03 15:20] yepher opened #72 "Fix broken build"
Travis build is broken. It looks like Java 7 is no longer available on the build machine.

See [here](https://github.com/SparkPost/java-sparkpost/pull/71/files)

[2017-10-03 15:39] yepher commented on #72
Fixed duplicate dependency declaration, and update java version so Travis build will pass. See [here](https://github.com/SparkPost/java-sparkpost/commit/862bfffd7e1bf15dfac068d825e2490d1661c1eb)

[2017-10-03 15:39] #72 closed

[2017-10-09 19:56] BillAtPros opened #75 "Creating a RestConnection with null baseURL results in NPE"
Creating a com.sparkpost.transport.RestConnection with a null baseUrl throws an NPE. The RestConnection sets a default url if it is null, but then refers the parameter, not the field when checking for URL validity.

[2017-10-11 13:24] BillAtPros commented on #75
Pull request  #76 created

[2017-11-09 09:54] tobiasjunsten opened #77 "Ability to set from name"
At the moment I see no possibility to set the from name when sending an email. Only the from address can be set.

[2017-11-22 15:09] yepher commented on #77
Have you tried this?

[code]

[AddressAttribute::name](https://github.com/SparkPost/java-sparkpost/blob/master/libs/sparkpost-lib/src/main/java/com/sparkpost/model/AddressAttributes.java#L40)

You can modify this sample too test that out: [SendEmailSample](https://github.com/SparkPost/java-sparkpost/blob/master/apps/sparkpost-samples-app/src/main/java/com/sparkpost/samples/SendEmailSample.java#L68

[2017-11-22 15:09] #77 closed

[2017-11-22 15:56] tobiasjunsten commented on #77
Maybe I should have clarified that I meant when using the Client class to avoid writing all that extra code. But don't worry about it I'm not using the library anymore.

[2018-01-03 13:59] yepher opened #78 "Remove `@deprecated` from RestConnection.get(EndPoint)"
[This](https://github.com/SparkPost/java-sparkpost/blob/master/libs/sparkpost-lib/src/main/java/com/sparkpost/transport/RestConnection.java#L471) should not have been deprecated when the string path methods were deprecated:

[code]

[2018-01-25 01:20] dfuentes77 opened #79 "retry on 50x errors (i'm new to java and sparkpost client)"
I tried to implement it in our code with logic like this, but it's not working.  I'd totally appreciate any assistance/guidance in checking the response code properly:

[code]

Thanks!

[2018-01-31 19:50] amitthakur4820 commented on #57
I am getting this error while creating sparkpost interface on jsp and servlet org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:52)

[2018-02-01 11:39] scarlier commented on #50
any progress on this issue?

[2018-02-02 15:13] yepher commented on #79
@dfuentes77

One thing you could simply do in code like [this](https://github.com/SparkPost/java-sparkpost/blob/master/apps/sparkpost-samples-app/src/main/java/com/sparkpost/error/samples/SendEmailErrorSample.java#L88) is put your `else if (500 <= spex.getResponseCode() && spex.getResponseCode() < 510){..` with this code so it retries once:

[code]

If you want a more persistent retry I think you

[2018-02-02 22:18] dfuentes77 commented on #79
This is the block where that snippet is from and what we are doing.  Basically if its a suppressed error, we mark it a certain way in our db.  What i'm trying to do is check the response code and if it's a 50x, to not mark the db... and on the next loop of our app, it'll attempt to connect/send again (it's not very aggressive so i'm not worried about that part).  But I'm never seeing it hit my res

[2018-02-12 18:03] marcgs opened #80 "Text field missing in TemplatePreviewData"
Currently the text field is not mapped to `TemplatePreviewData` when previewing templates although it is present in the returned json from the server.

I created a PR for this issue: https://github.com/SparkPost/java-sparkpost/pull/81

[2018-03-02 13:38] amitthakur4820 opened #82 "Unable to send bulk mail getting undermine type boune"
Hi there,
I have build sparkpost interface by using jsp and sevrlets,I can send test mail through it, but when I am trying to send bulk mail  by connecting to my local mysql database then it send only first mail in the list and rest of the are appear as bounced back

While running  still I am using log4j properties file in my webapp
 I got one warning every time by log4j frame still I am using log

[2018-03-02 19:23] yepher commented on #82
Are you getting any error back from the server?

When you get the bounce what is the message you get?

[2018-03-02 20:50] yepher commented on #79
I was thinking something like this. I am not quite sure how to test this since I don't know how to force an HTTP 5XX error.

[code]

[2018-03-02 21:42] yepher commented on #80
merged and released.

[2018-03-02 21:42] #80 closed

[2018-03-02 21:42] yepher commented on #78
merged and released.

[2018-03-02 21:42] #78 closed

[2018-03-02 21:43] yepher commented on #75
merged and released.

[2018-03-02 21:43] #75 closed

[2018-03-02 21:43] yepher commented on #18
Won't fix

[2018-03-02 21:43] #18 closed

[2018-03-02 21:46] yepher commented on #48
Won't fix unless someone wants to offer a pull request.

[2018-03-02 21:46] #48 closed

[2018-03-02 22:14] yepher commented on #50
I am going to start implementing this now. My goal is to not break backward compatibility (somehow).

[2018-03-02 22:58] yepher commented on #50
I've added an initial implementation for sub account support to the "feature/subaccount" branch.

Usage is like this:

[code]

Anything that connection is used for will set the `X-MSYS-SUBACCOUNT` header and the request.

[2018-03-02 23:17] yepher commented on #82
Can you share a sample of your code where you add the recipients?

[2018-03-03 06:04] amitthakur4820 commented on #82
while(rs.next())

				{

				counter++;

			String tmail=rs.getString(2);

			 Client client = new Client(API_KEY);
			  System.out.print(tmail.trim()+"5");

					try {
						//client.sendMessage( "amit <"                           +fmail+">",tmail, subject,"dfghj","<b>fgn</b>");
						client.sendMessage(fmail,tmail.trim(), subject, "thisismytestmail", "");
						System.out.println("mas send succs

[2018-03-05 08:56] scarlier commented on #50
would be nice to see this update on maven

[2018-03-06 18:08] yepher commented on #79
Closing this. If the previous comment does not answer the question please re-open the ticket and let me know what I missed.

[2018-03-06 18:08] #79 closed

[2018-03-07 15:43] yepher commented on #82
I think you may find this sample helpful for sending a message to multiple recipients:
https://github.com/SparkPost/java-sparkpost/blob/master/apps/sparkpost-samples-app/src/main/java/com/sparkpost/samples/SendEmailSample.java#L53

[2018-03-12 14:05] yepher commented on #82
This was a usage issue an not a library issue so closing this ticket.

[2018-03-12 14:05] #82 closed

[2018-03-12 14:07] yepher commented on #69
You can now provide your own RestConnection class that implements [IRestConnection](https://github.com/SparkPost/java-sparkpost/blob/master/libs/sparkpost-lib/src/main/java/com/sparkpost/transport/IRestConnection.java).

That should resolve this issue.

[2018-03-12 14:07] #69 closed

[2018-03-12 14:08] yepher opened #83 "Removed Deprecated Methods"
Remove deprecated methods from [IRestConnection](https://github.com/SparkPost/java-sparkpost/blob/master/libs/sparkpost-lib/src/main/java/com/sparkpost/transport/IRestConnection.java) to simplify alternative implementations.

[2018-03-28 19:59] yepher opened #84 "Client.sendMessage(...) does not support SPC EU endpoint"
Need to add support for setting SPC EU endpoint to the sendMessage methods.

Here is one workaround provided:

https://gist.github.com/AledLewis/740968ff68e3b5351a6892af79a97819

Slack Conversation:
* [here](https://sparkpost-community.slack.com/archives/C0P1SJDRV/p1522263797000023)
and
* [here #java](https://sparkpost-community.slack.com/archives/C58R22QNA/p1522265212000587)

[2018-04-02 14:05] yepher commented on #84
Fixed in commit 754c27ae2b0ab885603fbbc8189a63a7de60d327

[2018-04-02 14:05] #84 closed

[2018-04-04 12:01] yepher opened #85 "Add ability to GZIP post data"
Currently, the Java SparkPost library sends/receives HTTP data uncompressed. It should provide a way to compress and decompress HTTP streams.

[2018-04-20 09:03] avivanlo commented on #85
Hi Chris, that enhancement is important as our output management system generates transmissions with a rich and customized HTML body ( 32kb size with a lot of HTML and CSS tags and without any attachment)

[2018-04-20 16:19] mbaumbach opened #86 "Switch to using SLF4J"
Instead of directly depending on log4j, using the [SLF4J logging facade](https://www.slf4j.org/) will allow dependent applications of the Sparkpost library to pick/configure a logging library of their choice or at least not conflict with different versions of log4j.

The use case for me was that I'm using the logback logging library in my application, but the sparkpost library required me to confi

[2018-04-20 16:33] mbaumbach commented on #86
The PR is #87. I created this separate issue in case this still wants to be addresses, but the PR wants to be abandoned. 😄

[2018-05-11 19:08] mbaumbach opened #88 "Webhook active property missing from model"
Being able to detect whether a webhook is active as well as being able to perform a `PUT` and re-activating a webhook is not currently possible since the `WebhookDescription`/`Webhook` model does not have the `active` property on it.

[2018-05-11 19:13] mbaumbach commented on #88
PR #89 should cover this.

[2018-08-10 19:24] tommairs opened #90 "Webhook properties are out of date"
This is not current, please update with an accurate list of properties.
https://github.com/SparkPost/java-sparkpost/blob/master/libs/sparkpost-lib/src/main/java/com/sparkpost/model/webhook/event/DeliveryEvent.java

[2018-12-31 19:21] yepher commented on #50
This is released in version 0.22

[2018-12-31 19:21] #50 closed

[2019-03-29 16:26] timosalex opened #91 "attach pdf"
Hi I am trying to attach a pdf to an email using your java api.
However it is not clear to me how I can achieve that.  What string should I pass on the .setData() function

[code]

Any help?

[2019-05-14 14:35] ngbalk opened #92 "Webhook resource is missing /validate endpoint"
ResourceWebhook does not support the API: POST/api/v1/webhooks/{id}/validate

This endpoint could be used in code to provide health status of the webhooks, and alert accordingly if /validate fails.

[2019-07-24 08:58] pedro-carneiro commented on #86
It would be nice to have this. Any updates?

[2019-10-16 16:08] djmhtk1978 opened #93 "SparkPost Java API Suppression list limitations"
ResourceSuppressionList: the remove method does not accept a JSON payload making it impossible to pass in transactional/non-transactional.
Also there does not appear to be a response class provided to easily parse the result of a ResourceSuppressionList.check.

[2020-09-09 18:38] nhomble opened #94 "event webhook - handle ping events"
I would like to use the models in this sdk for defining the sparkpost webhooks. Reading some of the sp blog posts, https://www.sparkpost.com/blog/webhooks-beyond-the-basics/, I know we need to handle ping events to check the liveness of a new webhook. How should we use the models in this lib to filter? Is the expectation that consumers of the sdk check that all fields are null?

[2020-10-07 21:11] gitqizong opened #95 "Message Event API ending point changed - please update"
the sample app (MessageEventSearchSample.java) for query events which return empty result. But the Sparkpost UI show a list of events. It looks like the event search ending point changed.

[2020-10-21 23:54] stevebor1 opened #96 "TransimisionBase should allow other types than String for Metadata value"
The following field has the metadata set at a Map<String, String>, however it should be <String, Object> so that when converted to JSON, string, int and boolean should be all be valid values, just like in the other SparkPost clients.
[code]

[2020-10-21 23:56] stevebor1 commented on #91
The data needs to be Base64 encoded.

    byte[] bytes = IOUtils.toByteArray(yourinputstream);
    String encoded = Base64.getEncoder().encodeToString(bytes);
    attachment.setData(encoded);

[2020-10-23 16:27] yepher commented on #96
That is a fair point. I will change it to `<String, Object>`

[2020-10-23 19:23] yepher commented on #91
See previous comment or samples for how to do this.

[2020-10-23 19:23] #91 closed

[2020-10-23 20:06] yepher commented on #96
Fixed in version 0.23

[2020-10-23 20:06] #96 closed

[2020-10-23 20:06] yepher commented on #93
Fixed in version 0.23

[2020-10-23 20:06] #93 closed

[2020-10-23 20:07] yepher commented on #88
Fixed in version 0.23

[2020-10-23 20:07] #88 closed

[2020-10-23 20:07] yepher commented on #83
Fixed in version 0.23

[2020-10-23 20:07] #83 closed

[2020-10-23 20:07] yepher commented on #51
Fixed in version 0.23

[2020-10-23 20:08] #51 closed

[2020-10-23 20:08] yepher commented on #95
Fixed in version 0.23

[2020-10-23 20:08] #95 closed

[2020-10-23 21:33] yepher commented on #90
Ran the code to re-generate all the Webhook event classes. These are meant as a reference.
See [here](https://github.com/SparkPost/java-sparkpost/tree/master/libs/sparkpost-lib/src/main/java/com/sparkpost/model/webhook/event)

They will be released in the next version of the library >= 0.24

[2020-10-23 21:33] #90 closed

[2021-03-19 12:53] DrMattFaulkner opened #98 "Subaccount CRUDs"
Hi,

Are there any plans on adding APIs for subaccount create / update / delete in the SDK?

[2021-07-02 06:58] soufiene-aissa opened #103 "Log4j critical vulnerability!!"
Hello,

Sparkpost still use old version of Log4j. We are facing problem to fix this alert. Because we cannot upgrade to the new project (https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-core).

This is the description of the vulnerability :

Included in Log4j 1.2 is a SocketServer class that is vulnerable to deserialization of untrusted data which can be exploited to remotely exec

[2021-07-07 16:27] yepher commented on #103
If you send a pull request this way is will be glad to review and merge it in.

[2021-07-22 17:00] ThirumlaDevi commented on #103
@yepher @soufiene-aissa i did this migration from log4j 1.x to 2.x for one of my projects, one of reasons being to fix security vulneribility alerts. Will it be okay if I take this up, if it isn't already taken up?
This is the migration reference document that i'll be following --> [reference](https://logging.apache.org/log4j/2.x/manual/migration.html)

[2021-07-24 14:19] ThirumlaDevi commented on #103
@yepher @soufiene-aissa I have raised the above PR which will fix this vulnerability CVE-2019-17571, in this project. Hope this helps, cheers ✌️

[2021-08-12 04:33] jgh opened #105 "SuppressionList update endpoints throw com.google.gson.JsonSyntaxException"
In com.sparkpost.resources.ResourceSuppressionList  the  insertOrUpdate methods do this:

[code]
but the api returns this:
[code]
so gson shits the bed

[2021-09-13 20:02] ryantse opened #106 "RestConnection does not honor Client base URL"
When creating a RestConnection by passing a Client object, the endpoint URL set in the client is ignored.

Specifically, this call:
[code]
in https://github.com/SparkPost/java-sparkpost/blob/master/libs/sparkpost-lib/src/main/java/com/sparkpost/transport/RestConnection.java#L78

If the Client has a set endpoint already, that should be honored the passing it to the RestClient instead of targeting t

[2021-12-14 17:53] yepher commented on #103
This is fixed in v0.24

[2021-12-14 17:53] #103 closed

[2022-01-05 21:52] dan-tr opened #110 "Upgrade to Log4J 2.17.1"
The pom.xml file shows that java-sparkpost is at Log4J 2.17.0
[code]

Can this bumped to Log4J 2.17.1? The new version is the latest to address CVE-2021-44228

[2022-03-18 11:44] pacham7 opened #111 "Webhook events no longer derive from AbstractWebhookEvent, making getting type more difficult"
Either add getType to Base (perhaps with blank string implementation if not present in all subclasses), or make them derive from AbstractWebhookEvent again.

[2022-03-18 16:51] pacham7 opened #112 "Webhook fields initial_pixel and open_tracking are presented as int, rather than boolean in event classes, making deserialization harder"

[2022-11-23 17:59] javadeveloper080 opened #116 "GSON error when calling insertOrUpdate or insertOrUpdateBulk"
GSON error when calling
[code]
**Response for insertOrUpdate**
[code]
{
    "results":
[code]